/*cor de fundo:*/
*{
    background-color: coral;
}
/*classe:*/
.Paragrafo{
    color:red;
    }
    /*id:*/
    #idexemplo{
         /*vermelho,verde,blue:*/
        background-color:rgb(131,111,255);
        }